@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<SectionListVM>
@{
    ViewData["Title"] = "Liste des sections";
}

<div id="dashboard-page" class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>
                    <i class="fas fa-list"></i>
                    Liste des sections
                </h2>
            </div>
        </div>

        <div class="row">

            <table class="table table-sm table-bordered table-striped table-hover">
                <tr>
                   
                        <th class="description">@Html.DisplayNameFor(model => model[0].Section.Titre)</th>
                        <th class="description">@Html.DisplayNameFor(model => model[0].Section.Description)</th>
                        <th class="description">@Html.DisplayNameFor(model => model[0].Section.Sujets)</th>
                        <th class="description">Messages</th>
                        <th class="description">Dernier message</th>
                </tr>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (SectionListVM s in Model)
                    {
                        <tr>
                            <td class="description">
                                <a asp-action="List" asp-controller="Sujet" asp-route-idSection="@s.Section.Id">@Html.DisplayFor(model => s.Section.Titre)</a>
                            </td>
                            <td class="description">@s.Section.Description</td>
                            <td class="description">@s.NbSujets</td>
                            <td class="description">@s.NbMessages</td>
                            <td class="description">
                            @if (s.DernierMessage == null)
                            {
                                <p>Aucun message</p>
                            }
                            else
                            {
                                <p>Par @Html.DisplayFor(model => s.DernierMessage.Auteur.Pseudo)<br/>
                                @Html.DisplayFor(model => s.DernierMessage.DatePublication.Date)</p>   
                            }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Aucune section trouvée.</td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>
