@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SectionListVM
@{
    ViewData["Title"] = "Liste des sections";
}

<div id="dashboard-page" class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>
                    <i class="fas fa-list"></i>
                    Liste des sections
                </h2>
            </div>
        </div>

        <div class="row">

            <table class="table table-sm table-bordered table-striped table-hover">
                <tr>
                    <th class="description">@Html.DisplayNameFor(model => model.Sections[0].Titre)</th>
                    <th class="description">@Html.DisplayNameFor(model => model.Sections[0].Description)</th>
                    <th class="description">@Html.DisplayNameFor(model => model.Sections[0].Sujets)</th>
                    <th class="description">Messages</th>
                    <th class="description">Dernier message</th>
                </tr>
                @if (Model.Sections.Count > 0)
                {
                    foreach (Section s in Model.Sections)
                    {
                        <tr>
                            <td class="description"><a asp-action="List" asp-controller="Sujet" asp-route-idSection="@s.Id">@Html.DisplayFor(model => s.Titre)</a></td>
                            <td class="description">@Html.DisplayFor(model => s.Description)</td>
                            <td class="description">@Html.DisplayFor(model => model.count)</td>
                            @if (s?.Sujets != null)
                            {
                                @foreach (Sujet sujet in s.Sujets)
                                {
                                    <td class="description">@Html.DisplayFor(model => sujet.Messages.Count)</td>
                                    if (sujet?.Messages != null)
                                    {
                                        @foreach (MessageModel m in sujet.Messages)
                                        {
                                            <td class="description">
                                                par @Html.DisplayFor(model => m.Auteur.Pseudo)<br />
                                                @Html.DisplayFor(model => m.DatePublication)
                                            </td>
                                        }
                                    }
                                }
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Aucune section trouvée.</td>
                    </tr>
                }
            </table>

        </div>

        <div class="row">
             @if ((User?.Identity?.IsAuthenticated ?? false)) //Uniquement disponible lorsque le visiteur est connecté
              {
                <div class="col-md-12">
                    <a asp-action="Create" class="btn btn-primary">Ajouter une section</a>
                </div>
              }
              else
              {
                <div class="col-md-12 text-dark">
                    Mode lecture seule, vous pouvez pas ajouter une section
                </div>
              }
            
        </div>

        @* <p><a asp-action="Create">Ajouter un choix Menu</a></p> *@
    </div>
</div>
</div>
