@model SujetListSectionVM
@{
    ViewData["Title"] = "choix de Sujet";
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.Sid)?.Value;
}

<div id="dashboard-page" class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>
                    <i class="fas fa-list"></i>
                    Liste des Sujets
                </h2>
            </div>
        </div>

        <div class="row">

            <table class="table table-sm table-bordered table-striped table-hover">
                <tr>
                    <th class="action">Actions</th>
                    <th class="description">@Html.DisplayNameFor(model => model.sujetListVMs[0].Sujet.Titre)</th>
                    <th class="description">Réponse</th>
                    <th class="description">Dernier Message</th>

                </tr>
                @if (Model.sujetListVMs.Count > 0)
                {
                    foreach (SujetListVM sujetVM in Model.sujetListVMs)
                    {
                        <tr>
                            <td>
                                @if (sujetVM.Sujet.MembreId.ToString() == userId) 
                                {
                                    <a asp-action="Edit" asp-controller="Sujet" asp-route-id="@sujetVM.Sujet.Id" class="btn btn-warning">
                                        Modifier 
                                    </a>
                                    
                                    <a asp-action="Delete" asp-controller="Sujet" asp-route-id="@sujetVM.Sujet.Id" class="btn btn-outline-danger">
                                        Supprimer
                                    </a>
                                }
                                else
                                {
                                    <span>Aucune action dispo car vous n'en êtes pas l'auteur</span>
                                }
                            </td>
                            <td class="description">
                                <a asp-action="List" asp-controller="Mess" asp-route-idSujet="@sujetVM.Sujet.Id">@Html.DisplayFor(model => sujetVM.Sujet.Titre)</a><br>
                                par @Html.DisplayFor(model => sujetVM.Sujet.Auteur) » @Html.DisplayFor(model => sujetVM.Sujet.DateCreation)
                            </td>
                            <td class="description">
                                @Html.DisplayFor(model => sujetVM.NbReponses)
                            </td>
                            @if(sujetVM.DernierMessage != null)
                            {
                                <td class="description">
                                    par @Html.DisplayFor(model => sujetVM.DernierMessage.Auteur.Username)<br /> à
                                    @Html.DisplayFor(model => sujetVM.DernierMessage.DatePublication.Date)
                                </td>
                            }
                           else
                            {
                                <td class="description">
                                    Pas encore de message pour ce sujet
                                </td>
                            }
                            
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Aucun sujet trouvé.</td>
                    </tr>
                }
            </table>
        </div>

        <div class="row">
            @if ((User?.Identity?.IsAuthenticated ?? false)) //Uniquement disponible lorsque le visiteur est connecté
            {
                <div class="col-md-12">

                    <a asp-action="Create" asp-controller="Sujet" asp-route-idSection="@Model.IdSection" class="btn btn-primary">Nouveau Sujet</a>

                </div>
            }
            else
            {
                <div class="col-md-12 text-dark">
                    Mode lecture seule, vous pouvez pas ajouter un sujet
                </div>
            }
        </div>
    </div>
</div>